{% extends "base.html" %}
{% block title %}گذرواژه خود را بازنشانی کنید{% endblock %}
{% block content %}
<h1>گذرواژه خود را بازنشانی کنید</h1>
{% if validlink %}
<p>لطفاً رمز ورود جدید خود را دوبار وارد کنید:</p>
<form method="post">
{{ form.as_p }}
{% csrf_token %}
<p><input type="submit" value="تغییر دادن رمز عبور" /></p>
</form>
{% else %}
<p>پیوند تنظیم مجدد رمز ورود نامعتبر است ، احتمالاً به این دلیل که قبلاً استفاده شده است. لطفاً درخواست بازنشانی گذرواژه جدید کنید.
</p>
{% endif %}
{% endblock %}